<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>WHATOON</title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div class="container">
          <span style="color: red; margin: 50px 0; display: block;">404 Not Found</span>
          <span style="color: black; display: block;">Pony got the wrong way</span>
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <a style="color: blue; text-decoration: none;" href="/">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
