<% var d = new Date(); %>
<% if (d.getMonth() == 11 && d.getDate() >= 23 && d.getDate() <= 25) { %>
  <div class="inside_inner" style="padding-bottom: 0px; width: 100%;"><div class="child MLP_child_S8_Ep27_cover iframe_cover" id="MLP_child_S8_Ep27_cover"><iframe class="child MLP_child_S8_Ep27_iframe iframe" id="MLP_child_S8_Ep27_iframe" src="https://drive.google.com/file/d/1Ajz2yWqObFqOapOKxWM_4sgimqI0Vn9q/preview?t=0" allowfullscreen="true"></iframe></div></div>
<% } %>
