<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>WHATOON</title>
    <% include style.ejs %>
  </head>
  <body>
    <div class="outter">
      <div class="inner">
        <div class="container">
          <div class="inside_outter">
            <div class="inner" style="padding-bottom: 0px;">
              <% include head.ejs %>
              <% for (var i = 0; i < Count; i++) { %>
              <div class="parent element" id='<%= Property[i].Name %>' onclick="window.location='/ani?ani=<%= i %>';"><div class="text"><%= Title[i] %></div></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include script.ejs %>
  </body>
</html>
